.container{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #996600;
	width:100vw;
	height:100vh;
}


.product {
	display: grid;
	grid-template-columns: 0.9fr 1fr;
	margin: auto;
	padding: 2.5em 0;
	//min-width: 600px;
	background-color: white;
	border-radius: 5px;
	width:600px;
	img{
    cursor: pointer;
  }
}

.productPhoto{
	border-radius: 6px 6px 0 0;
	background-color: #996600;
	background: radial-gradient(#e5f89e, #96e001);
	position:relative;
	width:300px;
	height: 400px;
	right:30%;
	border-radius: 5%;
	.headPhoto {
		position: relative;
		left: -3.5em;
		top: 4%;
		filter: saturate(150%) contrast(120%) hue-rotate(10deg)
			drop-shadow(1px 20px 10px rgba(0, 0, 0, 0.3));
		border-radius: 5%;
		width:300px;
		height: 300px;
	}
	.photosCollection{
		display: flex;
		flex-direction: row;
		margin-top:30px;
		justify-content: space-around;
		.adPhoto{
			width:70px;
			height: 50px;
		}
	}
	
}

.photoMain {
	border-radius: 6px 6px 0 0;
	background-color: #996600;
	background: radial-gradient(#e5f89e, #96e001);
}

.photoAlbum {
	border-radius: 0 0 6px 6px;
	background-color: #fff;
	ul {
		display: flex;
		justify-content: space-around;
		padding-left: none !important;

	}

	li {
		float: left;
		width: 55px;
		height: 55px;
		padding: 7px;
		border-radius: 3px;
		list-style-type: none;
	}
}

.productInfo {
	padding: 0.8em 0;
}

.title {
	h1 {
		margin-bottom: 0.1em;
		color: black;
		font-size: 1.5em;
		font-weight: 900;
	}

	span {
		font-size: 0.7em;
		color: black;
	}
}

.price {
	margin: 1.5em 0;
	color: black;
	font-size: 1.2em;

	span {
		padding-left: 0.15em;
		font-size: 2.9em;
	}
}

.variant {
	overflow: auto;

	h3 {
		margin-bottom: 1.1em;
	}

	li {
		float: left;
		width: 35px;
		height: 35px;
		padding: 3px;
		border: 1px solid transparent;
		border-radius: 3px;
		cursor: pointer;

		&:first-child,
		&:hover {
			border: 1px solid black;
		}
	}

	li:not(:first-child) {
		margin-left: 0.1em;
	}
}

.description {
	clear: left;
	margin: 2em 0;

	h3 {
		margin-bottom: 1em;
	}

	ul {
		font-size: 0.8em;
		list-style: disc;
		margin-left: 1em;
	}

	li {
		text-indent: -0.6em;
		margin-bottom: 0.5em;
	}
}

.buyBtn {
	padding: 1.5em 3.1em;
	border: none;
	border-radius: 7px;
	font-size: 0.8em;
	font-weight: 700;
	letter-spacing: 1.3px;
	color: #fff;
	background-color: black;
	box-shadow: 2px 2px 25px -7px grey;
	cursor: pointer;

	&:active {
		transform: scale(0.97);
	}
}

@media (max-width:942px){
  .container{
		.product{
			width:500px;
		}
  }
}

@media (max-width:826px){
  .container{
		height: 100%;
		.product{
			display: flex;
			flex-direction: column;
			margin-bottom: 40px;
			margin-top: 40px;
			align-items: center;
			.productPhoto{
				right: 0;
			}
			.productInfo{
				padding-left:5%;

			}
			.details{
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				div{
					padding-left: 30px;
					padding-right: 40px;
				}
			}
			.buyBtn{
				margin-left:27%;
			}
		}
  }
}

@media (max-width:526px){
  .container{
		.product{
			width:400px;
			.productPhoto{
				.headPhoto{
					left: 8%;
					width:250px;
				}
			}
		}
  }
}

@media (max-width:414px){
  .container{
		.product{
			font-size:12px;
			width:300px;
			.productPhoto{
				.headPhoto{
					left: 8%;
					width:250px;
				}
			}
		}
  }
}
