.line{
  height: 2px;
  width:100%;
  background-color:#996600;
  margin-top:40px;
  margin-bottom: 40px;
}

.rec.rec-arrow-left{
  position:absolute;
  top:10;
  left:3%;
  z-index:99;
}

.rec.rec-arrow-right{
  position:absolute;
  bottom: 10;
  left:93%;
}

.rec.rec-pagination{
  display:none;
}

.rec.rec-carousel{
position: relative;
}



.rec-carousel-wrapper{
  img{
    height:500px;
    width: 500px;
    border:5px solid #996600;
    border-radius: 5%;
  }
}