$white:	#ffffff;
$black:	#070707;
$gold: #996600;
$background-1:	#f5f5f5;
$background-2:	#fff5f8;
$background-3:	#e5e5e5;
$rwdHeadButton: rgb(248, 232, 3);
$redHover: rgb(252, 0, 0);
$sliderButtonColor: #0D2F87;