@import '../../../styles/global.scss';



@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.topShopMenu{
  width: 100%;
  background-color: $black;
  height: 520px;
  position:absolute;
  top:0;
  left:0;
  display:flex;
  flex-direction: row;
  padding-top:120px;
  padding-left:50px;
  color:$gold;
  z-index:10;
  .optionList{
    font-size: 20px;
    padding-top:40px;
   .one{
      position: absolute;
      top:40%;
      left: 16%;
    }
    .two{
      position: absolute;
      top:55%;
      left: 16%;
    }
    .three{
      position: absolute;
      top:71%;
      left: 24%;
    }
    a{
      text-decoration: none;
      color: inherit;
      font-size: 70px;
      padding-top:30px;
    }

  }
  .images{
    *{
      position:absolute;
      width:400px;
      height:400px;
      right:20%;
      top:15%;
    }
  }
  .closeButton{
    position:absolute;
    left:47%;
    top:85%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: inherit;
    border-color: $white;
    svg{
      font-size: 30px;
      color:$white
    }
  }
}
@media (max-width:1068px){
  .topShopMenu{
    padding-top:5%;
    padding-left: 0;
    .optionList{
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      width: 100%;;
    }
  }
}

@media (max-width:332px){
  .topShopMenu{
    .optionList{
      font-size: 10px;
    }
  }
}
