@media (max-width:1067px){
.rwdMenu{
  z-index:4;
  display:block;
  height: 200px;
  width: 1000px;
  background:inherit;
  position: fixed;
  bottom:0;
  transform:rotate(270deg);
  .hold{
    position:absolute;
    width:201px;
    height:201px;
    clip:rect(0px,201px,201px,100px);
    left:301px;
  }
  .rwdLink1{
    display: block;
    position:absolute;
    width:201px;
    height:201px;
    clip:rect(0px,100px,201px,0px);
    border-radius:100px;
    background-color:rgb(255, 196, 0);
    transform:rotate(180deg);
    z-index: 7;
    a{
      display: block;
      font-size: 12px;
      position: absolute;
      padding: 0;
      transform:rotate(330deg);
      top:16%;
      left:13%;
    }
  }
  .rwdLink2{
    display: block;
    position:absolute;
    width:201px;
    height:201px;
    clip:rect(0px,100px,201px,0px);
    border-radius:100px;
    background-color:rgb(212, 179, 69);
    transform:rotate(120deg);
    z-index: 8;
    a{
      display: block;
      position: absolute;
      padding: 0;
      top:13%;
      left:15%;
      transform: rotate(-29deg);
    }
  }
  .rwdLink3{
    display: block;
    position:absolute;
    width:201px;
    height:201px;
    clip:rect(0px,100px,201px,0px);
    border-radius:100px;
    background-color:rgb(255, 196, 0);
    transform:rotate(60deg);
    z-index: 9;
  }
  a{
    display: block;
    position: absolute;
    top:15%;
    left:20%;
    transform: rotate(-30deg);
  }
}
}
@media (min-width:1068px) and (max-width:2000px){
  .rwdMenu{
    display:none;
  }
}