@import '../../../styles/global.scss';

*, ::before{
  box-sizing: border-box;
}
.basket{
  background-color: white;
  width: 300px;
  height: 300px;
  position: absolute;
  top:90px;
  right:6%;
  z-index:2;
  border: 6px solid #996600;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left:10px;
  padding-top:10px;
  color:black;
  z-index:8;

  .content{
    height: 182px;
    overflow-y: auto;
    font-size:14px;
  }

  h2{
    margin:0;
    margin-bottom:10px;
  }

  .position{
  display: flex;
  flex-direction: row;
  position:relative;
  justify-content: flex-start;
    p{
      padding-right:10px;
      padding-left: 10px;
      
    }
    a{
      padding:0;
      padding-top:15px;
      font-size:15px;
      color:black;
    }
    a:hover{
      color:red;
    }
    p:nth-child(3) {
      width:125px;
    }
  }  
  .comment{
    .addToOrder, div{
      margin-top:5px;
      background-color: #996600;
    }
    svg{
      padding-top: 2px;
    }
  }
  .lineGrey{
    height:1px;
    background-color: grey;
    display: block;
    width: 95%;
    top: 46px;
    position:absolute;
  }
  .total{
    width:100%;

    .line{
      margin:40px;
      position:absolute;
      left:-12px;
      top:70%;
      width: 80%;
    }
    p{
      padding-top: 25px;
      margin:0;
      font-size:20px;
    }
    .sum{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      button{
        margin-top: 25px;
        height:30px;

      }
    }
  }

}
.basket::before{
  content:'';
  background-color: white;
  position: absolute;
  top:-19px;
  right:41px;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  border-top: 6px solid #996600;
  border-left: 6px solid #996600;
  z-index:1
}

@media (max-width:1404px){
  .basket{
    right:5%;
  }
}

@media (max-width:1256px){
  .basket{
    right:3.5%;
  }
}

@media (max-width:1114px){
  .basket{
    right:1%;
  }
}

@media (max-width:1067px){
  .basket::before{
    transform: rotate(225deg);
    top:96%;
    right:45%;
  }
  .basket{
    position:fixed;
    top:auto;
    bottom:20%;
    right:36%;
  }
}

@media (max-width:990px){
  .basket{
    right:34%;
  }
}

@media (max-width:890px){
  .basket{
    right:32%;
  }
}

@media (max-width:890px){
  .basket{
    right:32%;
  }
}

@media (max-width:790px){
  .basket{
    right:30%;
  }
}
@media (max-width:690px){
  .basket{
    right:28%;
  }
}
@media (max-width:590px){
  .basket{
    right:23%;
  }
}
@media (max-width:490px){
  .basket{
    right:16%;
  }
}
@media (max-width:390px){
  .basket{
    right:10%;
  }
}
@media (max-width:350px){
  .basket{
    right:3%;
  }
}