@import '../../../styles/global.scss';

.search{
  z-index:999;
  input{
    color:$white;
    filter: contrast(200%);
    width:250px;
    height:30px;
    border-top:none;
    border-left:none;
    border-right:none;
    border-color:$white;
    background-color: inherit;
    outline: none;
  }
  
  button{
    height:30px;
    margin-left: 10px;
  }
  svg{
    color:$white;
    position:absolute;
    left:22%;
    top:42%;
  }
  svg:hover{
    color:$redHover;
  }
  .searchinResults{
    display: flex;
    flex-direction: column;
    position:absolute;
    left:7%;
    margin-top: 5px;

    a{
      font-weight: 900;
      color:$black;
    }
    a:hover{
      color:$redHover;
    }
  }
}

@media (max-width:1300px){
  .search{
		.searchinResults{
			left:6%;
		}
  }
}

@media (max-width:1200px){
  .search{
		.searchinResults{
			left:5%;
		}
  }
}