.search{
  input{
    color:#fff;
    filter: contrast(200%);
    width:250px;
    height:30px;
    border-top:none;
    border-left:none;
    border-right:none;
    border-color:#fff;
    background-color: inherit;
    outline: none;
  }
  
  button{
    height:30px;
    margin-left: 10px;
  }
  svg{
    color:#fff;
    position:absolute;
    left:17%;
    top:42%;
  }
  svg:hover{
    color:red;
  }
  .searchinResults{
    display: flex;
    flex-direction: column;
    position:absolute;
    left:30px;
    padding-top: 10px;
  }
}