@import '../../../styles/global.scss';

.recipe{
  h2{
    color:red;
  }
  .information{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $background-3;
  position: relative;
  top:-5px;
  }
  .description{
    width:50%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .photo{
    width:50%;
  }
  .photo img{
    width: 100%;
    height: 100%;
  }
  .firstStep{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .photo{
      position:relative;
      top: -10px;
      left: 5px;
    }
  }
  .secondStep{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $background-3;
    .photo{
      position:relative;
      top: -20px;
      right: 5px;
    }
  }
  .thirdStep{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .photo{
      position:relative;
      top: -10px;
      right: 5px;
    }
  }
  .fourthStep{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $background-3;

    .photo{
      position:relative;
      top: -10px;
      left: 5px;
    }
  }
  .fifthStep{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .photo{
      position:relative;
      top: -10px;
      left: 5px;
    }
  }
  .sixthStep{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $background-3;
    .photo{
      position:relative;
      top: -10px;
      left: 5px;
    }
  }
  .seventhStep{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .photo{
      position:relative;
      top: -10px;
      left: 5px;
    }
  }
}

@media (max-width:1067px){
  .recipe{
    ol{
      padding-left: 5px;
    }
    .information, .secondStep, .fourthStep, .sixthStep{
      flex-direction: column;
    }
    .firstStep, .thirdStep, .fifthStep, .seventhStep{
      flex-direction:column-reverse;
    }
    .information{
      .photo{
        padding-bottom: 15px;
      }
    }
    .secondStep{
      .photo{
        margin-top: 30px;
      }
    }
  }
}

@media (max-width:788px){
  .recipe{
    font-size:14px;
  }
}

@media (max-width:688px){
  .recipe{
    font-size:12px;
    .information, .fourthStep, .sixthStep, .firstStep, .thirdStep, .fifthStep, .seventhStep{
      .photo{
        margin-top:10px;
      }
    }
    .secondStep{
      margin-top:40px;
    }
  }
}

@media (max-width:588px){
  .recipe{
    font-size:10px;
  }
}

@media (max-width:488px){
  .recipe{
    font-size:8px;
  }
}