@import '../../../styles/global.scss';

.contact{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width:100%;
  height:100vh;
  .form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    input{
      width:300px;
      //height: 200px;
    }
  }
  .description{
    width:50%;
    padding-left: 50px;
    padding-right: 50px;
  }
}

/*.contact{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .content{
  background-color: #996600;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .contactData{
    width:30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 220px;
    margin-top:40px;
  }
  .inputForm{
    width:30%;
    display: flex;
    flex-direction: column;
    height: 220px;
    margin-top:40px;
    label{
      padding-top: 12px;
    }
    .socialMedia{
      padding-top: 15px;
      *{
        height: 20px;
        width: 20px;
        //margin-right: 15px;
        padding:10px;
        border-radius: 50%;
      }
      *:hover{
        background-color:#996600;
        opacity:0.7;
      }
    }
  }
}


}*/